<?php

$vendorDir = __DIR__.'/vendor';
require_once $vendorDir.'/symfony/symfony/src/Symfony/Component/ClassLoader/UniversalClassLoader.php';

use Symfony\Component\ClassLoader\UniversalClassLoader;

$loader = new UniversalClassLoader();
$loader->registerNamespaces(array(
    'Symfony\\Tests'         => $vendorDir.'/symfony/symfony/tests',
    'Symfony'                => array($vendorDir.'/symfony/symfony/src'),
    'Doctrine\\Common'       => array($vendorDir.'/doctrine/common/lib'),
    'Doctrine\\ORM'          => array($vendorDir.'/doctrine/orm/lib'),
));
$loader->registerPrefixes(array(
    'Twig_' => $vendorDir.'/twig/twig/lib',
));
$loader->register();

spl_autoload_register(function($class) {
    if (0 === strpos($class, 'Snowcap\\CoreBundle\\')) {
        $path = __DIR__.'/'.implode('/', array_slice(explode('\\', $class), 2)).'.php';
        if (!stream_resolve_include_path($path)) {
            return false;
        }
        require_once $path;

        return true;
    }
});