parameters:
	ignoreErrors:
		-
			rawMessage: 'Property Leapt\CoreBundle\Datalist\Datalist::$initialized (bool) is never assigned true so the property type can be changed to false.'
			identifier: property.tooWideBool
			count: 1
			path: src/Datalist/Datalist.php

		-
			rawMessage: 'Property Leapt\CoreBundle\Datalist\Datalist::$iterator (Iterator) does not accept Traversable<mixed, mixed>.'
			identifier: assign.propertyType
			count: 1
			path: src/Datalist/Datalist.php

		-
			rawMessage: 'Parameter #1 $value of function count expects array|Countable, Iterator given.'
			identifier: argument.type
			count: 1
			path: src/Datalist/Datasource/AbstractDatasource.php

		-
			rawMessage: 'Method Leapt\CoreBundle\Datalist\Field\DatalistField::getType() should return Leapt\CoreBundle\Datalist\Field\Type\FieldTypeInterface but returns Leapt\CoreBundle\Datalist\TypeInterface.'
			identifier: return.type
			count: 1
			path: src/Datalist/Field/DatalistField.php

		-
			rawMessage: 'Method Leapt\CoreBundle\Datalist\Filter\DatalistFilter::getType() should return Leapt\CoreBundle\Datalist\Filter\Type\FilterTypeInterface but returns Leapt\CoreBundle\Datalist\TypeInterface.'
			identifier: return.type
			count: 1
			path: src/Datalist/Filter/DatalistFilter.php

		-
			rawMessage: Access to constant on internal class League\FlysystemBundle\FlysystemBundle.
			identifier: classConstant.internalClass
			count: 1
			path: src/DependencyInjection/Compiler/FlysystemCompilerPass.php

		-
			rawMessage: 'Method Leapt\CoreBundle\Paginator\DoctrineORMPaginator::getIterator() should return ArrayIterator but returns Traversable<(int|string), mixed>.'
			identifier: return.type
			count: 1
			path: src/Paginator/DoctrineORMPaginator.php

		-
			rawMessage: 'Call to method getParent() of internal class Twig\Template from outside its root namespace Twig.'
			identifier: method.internalClass
			count: 1
			path: src/Twig/Extension/DatalistExtension.php

		-
			rawMessage: 'Call to method hasBlock() of internal class Twig\Template from outside its root namespace Twig.'
			identifier: method.internalClass
			count: 1
			path: src/Twig/Extension/DatalistExtension.php

		-
			rawMessage: 'Call to method renderBlock() of internal class Twig\Template from outside its root namespace Twig.'
			identifier: method.internalClass
			count: 1
			path: src/Twig/Extension/DatalistExtension.php

		-
			rawMessage: Instanceof references internal class Twig\Template.
			identifier: instanceof.internalClass
			count: 1
			path: src/Twig/Extension/DatalistExtension.php

		-
			rawMessage: 'Call to method getParent() of internal class Twig\Template from outside its root namespace Twig.'
			identifier: method.internalClass
			count: 1
			path: src/Twig/Extension/PaginatorExtension.php

		-
			rawMessage: 'Call to method hasBlock() of internal class Twig\Template from outside its root namespace Twig.'
			identifier: method.internalClass
			count: 1
			path: src/Twig/Extension/PaginatorExtension.php

		-
			rawMessage: 'Call to method renderBlock() of internal class Twig\Template from outside its root namespace Twig.'
			identifier: method.internalClass
			count: 1
			path: src/Twig/Extension/PaginatorExtension.php

		-
			rawMessage: Instanceof references internal class Twig\Template.
			identifier: instanceof.internalClass
			count: 1
			path: src/Twig/Extension/PaginatorExtension.php

		-
			rawMessage: '''
				Call to deprecated method getExpressionParser() of class Twig\Parser:
				since Twig 3.21
			'''
			identifier: method.deprecated
			count: 3
			path: src/Twig/TokenParser/DatalistThemeTokenParser.php

		-
			rawMessage: 'Call to function method_exists() with Twig\Parser and ''parseExpression'' will always evaluate to true.'
			identifier: function.alreadyNarrowedType
			count: 3
			path: src/Twig/TokenParser/DatalistThemeTokenParser.php

		-
			rawMessage: '''
				Call to method parseExpression() of deprecated class Twig\ExpressionParser:
				since Twig 3.21
			'''
			identifier: method.deprecatedClass
			count: 3
			path: src/Twig/TokenParser/DatalistThemeTokenParser.php

		-
			rawMessage: '''
				Call to deprecated method getExpressionParser() of class Twig\Parser:
				since Twig 3.21
			'''
			identifier: method.deprecated
			count: 3
			path: src/Twig/TokenParser/PaginatorThemeTokenParser.php

		-
			rawMessage: 'Call to function method_exists() with Twig\Parser and ''parseExpression'' will always evaluate to true.'
			identifier: function.alreadyNarrowedType
			count: 3
			path: src/Twig/TokenParser/PaginatorThemeTokenParser.php

		-
			rawMessage: '''
				Call to method parseExpression() of deprecated class Twig\ExpressionParser:
				since Twig 3.21
			'''
			identifier: method.deprecatedClass
			count: 3
			path: src/Twig/TokenParser/PaginatorThemeTokenParser.php

		-
			rawMessage: 'Method Leapt\CoreBundle\Tests\LeaptCoreTestingKernel::configureContainer() is unused.'
			identifier: method.unused
			count: 1
			path: tests/LeaptCoreTestingKernel.php

		-
			rawMessage: 'Method Leapt\CoreBundle\Tests\LeaptCoreTestingKernel::configureRoutes() is unused.'
			identifier: method.unused
			count: 1
			path: tests/LeaptCoreTestingKernel.php

		-
			rawMessage: 'Method Leapt\CoreBundle\Tests\LeaptCoreTestingKernel::getConfigDir() is unused.'
			identifier: method.unused
			count: 1
			path: tests/LeaptCoreTestingKernel.php

		-
			rawMessage: 'Property Leapt\CoreBundle\Tests\Listener\Fixtures\Entity\User::$id is never written, only read.'
			identifier: property.onlyRead
			count: 1
			path: tests/Listener/Fixtures/Entity/User.php

		-
			rawMessage: 'Property Leapt\CoreBundle\Tests\Paginator\Entity\Player::$id is never written, only read.'
			identifier: property.onlyRead
			count: 1
			path: tests/Paginator/Entity/Player.php
