<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    bootstrap="Tests/bootstrap.php"
>
    <php>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[total]=999999"/>
    </php>

    <testsuites>
        <testsuite name="Leapt CoreBundle Test Suite">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>