{% if paginator.pageCount > 1 %}
    <ul>
        {% for i in 1..paginator.pageCount %}
            <li>
                <a href="?page={{ i }}">{{ i }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}